<h2>Showing Selected Article</h2>

<h1 class="article_title"><%= @article.title  %></h1>

<p class="article_text">
  <%= @article.description %>
</p>

 <%= link_to "Edit article", edit_article_path%>
