<h1>Users</h1>
<div class="row"
  <ul><% @users.each do |user| %>
    <div class="grey_card">
      <li><%=link_to user.username, user %></li>
      <li><%= pluralize(user.articles.count, "article") %></li>
    </div>
  <% end %></ul>
</div>
