<h1>All Categories</h1>

<% @categories.each do |category| %>
  <ul>
    <div class="grey_card">
      <li><%= link_to "#{category.name}", category_path(category), class:"capitalize" %></li>
      <li><li><%= pluralize(category.articles.count, "article") %></li>
    </div>
  </ul>
<% end %>
