<% if obj.errors.any? %>
<div class="errors">
  <h2>The following errors prevented the form from submitting:</h2>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
    <li><%= msg%></li>
    <%end%>
  </ul>
  </div>
<%end%>
