  <footer class="footer">
    <p>
      Vev on Rails 2019
    </p>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li>|</li>
        <li><a href="mailto:vev.gaunt@gmail.com?subject=We%20want%20you!">HIRE ME</a></li>
      </ul>
    </nav>
  </footer>
